@model string
@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center">
    <h1>@Model!</h1>      @*jako model predavam message ve forme stringu, message se zobrazi nahore*@
    </div>
<div class="text-center">
    <img src="~/images/kimberly-farmer-lUaaKCUANVI-unsplash.jpg" alt="a stack of school books" style="width:100%;max-width:700px;height:auto;border:solid white; border-radius:15%;" />
</div>
