@using SchoolManagementSystem.ViewModels;
@model GradesVM

<div>
    <h3 style="background:#FFB703;border-radius:30%;">Edit a grade</h3>
    <form asp-action="Edit">
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <div class="form-group">
            <label asp-for="StudentId" label class="control-label"></label>
            <select asp-for="StudentId" select class="form-control" asp-items="ViewBag.Students"></select>
            @*<span asp-validation-for="FirstName" class="text-danger"></span>*@
        </div>
        <div class="form-group">
            <label asp-for="SubjectId" class="control-label"></label>
            <select asp-for="SubjectId" select class="form-control" asp-items="ViewBag.Subjects"></select>
            @*<span asp-validation-for="FirstName" class="text-danger"></span>*@
        </div>
        <div class="form-group">
            <label asp-for="What"></label>
            <input type="text" asp-for="What" class="form-control" />
            @*<span asp-validation-for="LastName" class="text-danger"></span>*@
        </div>
        <div class="form-group">
            <label asp-for="Mark"></label>
            <input type="number" asp-for="Mark" class="form-control" />            @*jenom date bez casu*@
            @*<span asp-validation-for="DateOfBirth" class="text-danger"></span>*@
        </div>
        <div>
            <a asp-action="Index" class="btn btn-secondary">Back</a>
            <input class="btn btn-success" type="submit" value="Save changes" />
        </div>
    </form>
</div>

