@using SchoolManagementSystem.ViewModels;
@model UserVM
<h3 style="background:#FFB703;border-radius:30%;">Users and students connection edit</h3>
<form method="post">
<div class="form-group">
    <label asp-for="AssignedStudentsList" class="control-label" style="font-weight:bold;"></label>
        <table class="table table-bordered table-sm" style="border:solid black 4px;background:#FFA343;width:max-content;margin-left:auto;margin-right:auto;">
            <th>Name</th>
            <th>ID</th>
            <th>Action</th>
        @foreach (var student in Model.AssignedStudentsList) {      @*do budocna poresit checkboxy, jako u "Roles"*@ 
             <tr>
                <td>@student.LastName</td>
                <td>@student.Id</td>
                <td> <a asp-action="RemoveConnection" asp-route-studentId="@student.Id" asp-route-userId= "@Model.UserIdToView" class="btn btn-danger">Remove</a></td>
            </tr>         
        }
    </table>
</div>
    <div class="form-group">
        <label asp-for="AssignedStudentId" class="control-label" style="font-weight:bold;"></label>
        <select multiple asp-for="AssignedStudentId" class="form-control" asp-items="ViewBag.Students" ></select>
    </div>
    <div>
        <a asp-action="Index" class="btn btn-secondary">Back</a>
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
    
</form>