@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">This is a Student-Administration WebPage</h1>
    <img src="~/images/kimberly-farmer-lUaaKCUANVI-unsplash.jpg" alt="a stack of school books" style="width:500px;height:600px"/>
</div>
