@model Subject
<div>
    <h3>Update the subject</h3>
    <form asp-action="Edit">
        @*<div asp-validation-summary="ModelOnly" class="text-danger"></div>*@
        <div class="form-group">
            <label asp-for="Name"></label>
            <input type="text" asp-for="Name" class="form-control" />
            @*<span asp-validation-for="FirstName" class="text-danger"></span>*@
        </div>
        <div>
            <a asp-action="Index" class="btn btn-secondary">Back</a>
            <input class="btn btn-success" type="submit" value="Update" />
        </div>
    </form>
</div>

