@{
	ViewData["Title"] = "Subjects";
}

@model IEnumerable<Subject>
<head>
	<link rel="stylesheet" href="~/css/Subjects_Index_Styles.css" />
</head>

<body>
	<h3>List of subjects:</h3>
	<hr />
	<div>
		<a class="btn btn-success" asp-action="Create" style="margin-bottom:15px;">Add a new subject</a>
	</div>
	<table class="table table-bordered table-sm" style="border:solid black 4px;width:max-content;margin-top:15px;">
		<tr>
			<th>Name </th>
			<th>Id</th>
			<th>Edit</th>
			<th>Delete</th>
		</tr>
	@foreach (var subject in Model) {
		<tr>
				<td>@subject.Name </td>
				<td> @subject.Id</td>
				<td><a class="btn btn-warning" asp-action="Edit" asp-route-id="@subject.Id">Edit</a> </td>	@*buttony jsou odkazy(anchor) barva zluta*@
				<td><a class="btn btn-danger" asp-action="Delete" asp-route-id="@subject.Id">Delete</a>	</td>		@*barva cervena*@
		</tr>
			
	}
	</table>
</body>
