html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}


html {
  position: relative;
  min-height: 100%;
}


body {
    background-color: #E5E7EB; /*zmena css*/
    font-family: sans-serif;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 85vh;
}

*{
    margin:5px;
    box-sizing:border-box;
    border-radius:3%;

}

header {
    background-color: #F9FAF8;
   
}

main { 
    display: flex;
    flex-direction:column;
    flex: 1;
    padding:5em;
    align-items:center;
   
}


footer {
    background-color: #F9FAF8;
    padding: 1em 0 1em 0;
}

hr {
    width: 96%;
    color: #000000;
    height: 1px;
}

